{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Accueil{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="w-full grid grid-cols-4 gap-4">
  {% for file in files %}
    <div class="flex flex-col gap-4 rounded-3xl bg-slate-50">
      <div class="flex justify-between pt-5 px-4">
        {% if file.endswith(('.png', '.jpg', '.jpeg', '.gif')) %}
          <img src="{{ url_for('pages.show', filename=file) }}" alt="{{ file }}" height="50" class="rounded-lg object-cover h-16 w-16">
        {% else %}
          {# Display a file icon and name #}
          <span class="material-symbols-outlined">
            description
          </span>
        {% endif %}
        <span class="material-symbols-outlined">
          more_vert
        </span>
      </div>
      {# Display the file name with max length of 18 characters and extension #}
      <p>
        {% if file|length > 18 %}
          {{ file[:10] }}...{{ file[-4:] }}
        {% else %}
          {{ file }}
        {% endif %}
      </p>
      {# Display the file upload date #}
      <p class="text-secondary">{{ file|file_date }}</p>
      {# Display the file size #}
      <p class="text-secondary">{{ file|file_size }}</p>
      {# Display the file actions #}
      <div class="d-flex gap-3">
        <a href="{{ url_for('pages.show', filename=file) }}" class="card-link">
          <span class="material-symbols-outlined">
            visibility
          </span>
        </a>
        <a href="{{ url_for('pages.download', filename=file) }}" class="card-link">
          <span class="material-symbols-outlined">
            download
          </span>
        </a>
        <a href="{{ url_for('pages.delete', filename=file) }}" class="card-link text-danger">
          <span class="material-symbols-outlined">
            delete
          </span>
        </a>
      </div>
      <div class="bg-neutral-300 px-4 py-5 rounded-b-3xl font-bold">
      {{ file|file_size }}
    </div>
    </div>
    
  {% endfor %}
  </div>
{% endblock content %}